#spray-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    color: white;
    flex-direction: column;
    font-family: monospace;
    padding-bottom: 45px;
}
#spray-section h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.spray-info{
    display: flex;
    gap: 100px;
}
.spray-info img{
    height: 350px;
}
.spray-card {
    position: relative;
}
.info-hover {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 350px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.spray-card:hover .info-hover {
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .spray-info img{
        height: 120px;
    }
    .info-hover {
        position: absolute;
        bottom: 0px;
        width: 200px;
        height: 210px;
        width: 90px;
    }
    .info-hover h2 {
        font-size: 25px !important;
        padding: 0px;
        margin-bottom: 0px;
    }
    .info-hover ul {
        font-size: 6px !important;
        padding-bottom: 10px;
        padding-left: 10px;
    }
  }
  