.carte{
    background-color: rgb(89, 27, 39);
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(255, 70, 84);
    transition: 0.3s ease;
}
.carte:hover{
    box-shadow: 0px 0px 15px white;
}
.carte p{
    font-weight: bold;
    color: white;
}
.carte button{
    background-color: rgb(255, 70, 84);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 15px;
    transition: 0.3s ease;
}
.carte button:hover{
    box-shadow: 0px 0px 15px white;
}
#img1{
    height: 200px;
    border-radius: 20px;
}
#section-cards{
    padding-top: 80px;
    gap: 100px;
    display: flex;
    justify-content: center;
    height: 450px;
}
@media screen and (max-width: 600px) {
    .carte{
        background-color: rgb(89, 27, 39);
        width: 90px;
        height: 190px;
    }
    #img1{
        height: 90px;
        border-radius: 20px;
    }
    #section-cards{
        padding-top: 80px;
        gap: 50px;
        display: flex;
        justify-content: center;
        height: 450px;
    }
    .carte p{
        font-size: 12px;
    }
    .carte button{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }
  }